.langToggle {
  position: fixed;
  right: 20px;
  top: 20px;
  /* padding: 14px 0; */
  line-height: normal;
  z-index: 2000;
}

.langToggle button {
  width: 70px;
  /* padding: 4px 15px 3px; */
  font-size: 20px;
  font-weight: 600;
  line-height: 0.8;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: inherit;
}
