/* Стили для общего контейнера */
.header-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 31px;
  z-index: 1000;
  position: relative;
}

/* Стили для кнопок в навигации */
.header-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; /* Расстояние между кнопками */
  align-items: center;
  justify-content: center;
}

/* Стили для навигации */
.header-buttons nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Бургер-меню для экранов с шириной меньше 500px */
@media (max-width: 760px) {
  .header-buttons {
    display: none; /* Скрыть все кнопки */
  }

  /* Стиль для бургер-меню */
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100; /* Для того, чтобы бургер был поверх остального контента */
  }

  .burger-menu div {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    max-width: 200px;
  }

  /* Показываем меню при активном состоянии бургер-меню */
  .burger-menu.active + .header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Появление анимации для кнопок */
  .header-buttons.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

/* Для состояния "active" бургер-меню */
.burger-menu.active {
}

/* Header.module.css */
.header-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.header-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Кнопка-бургер */
.burger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.burger-button span {
  background-color: antiquewhite;
  display: block;
  width: 30px;
  height: 3px;
  margin: 9px 0;
  transition: 0.3s;
}

.header-buttons nav {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 760px) {
  .header-buttons nav {
    display: none;
    max-width: 200px;
  }

  .burger-button {
    display: block;
  }

  .header-buttons.open nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50px;
    color: antiquewhite;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    z-index: 1001;
  }

  .burger-button.open span {
    background-color: red;
  }

  .burger-button.open span:nth-child(1) {
    transform: rotate(45deg) translate(15px, 13px);
  }
  .burger-button.open span:nth-child(2) {
    opacity: 0;
  }
  .burger-button.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
